<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="ms-auto order-0">
            <a class="navbar-brand mx-auto" href="{{ path('homepage') }}">
                <img src="/assets/img/logo.png" width="24" height="24" alt="Logo UT1">
                Meeting Rooms</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('booking_index') }}">Réservation</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ms-auto">
                {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ app.user.picture }}" class="avatar avatar-micro" alt="{{ app.user.fullName }}'s avatar"> {{ app.user.fullName }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('account_register') }}" class="dropdown-item">Créer un compte</a>
                            <a href="{{ path('rooms') }}" class="dropdown-item">Salles de réunion</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('account_index') }}" class="dropdown-item">Mon compte</a>
                            <a href="{{ path('account_edit') }}" class="dropdown-item">Éditer mes informations</a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path("account_logout") }}" class="dropdown-item">Se déconnecter</a>
                        {% endif %}
                    </ul>
                </li>
                    {% else %}
                        <a href="{{ path('account_login') }}" class="nav-link">Se connecter</a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}